[submodule "external/wolfssl"]
    path = external/wolfssl
    url = https://github.com/wolfSSL/wolfssl.git
    update = none

[submodule "external/googletest"]
    path = external/googletest
    url = https://github.com/google/googletest.git
